<nav class="navbar navbar-fixed-bottom">
{%- if site.show-style-guide %}
    <footer class="footer">
        <div class="container-fluid footeralign">
            <p class="left">
                <small>&copy; Arteveldehogeschool 2017-2018</small>
            </p>
            <p class="right"><small><a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a></small></p>
        </div>
    </footer>
{%- endif %}
</nav>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>