<div id="nav">
    <div class="logo">
        <h1><a href="{{ site.baseurl }}{% link pages/index.html %}" target="_blank">Wingman</a></h1>
    </div>
    <input id="burger" type="checkbox" />

    <label for="burger">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}{% link pages/index.html %}">Home</a></li>
            <li><a href="{{ site.baseurl }}{% link pages/about.html %}">About us</a></li>
            <li><a href="{{ site.baseurl }}{% link pages/manual.html %}">How does it work?</a></li>
            <li><a href="{{ site.baseurl }}{% link pages/join.html %}">Join</a></li>
            <li><a href="{{ site.baseurl }}{% link pages/contact.html %}">Contact</a></li>
        </ul>
    </nav>
</div>