body {
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
  color: #000;

}
.jumbotron {
  background-color: white !important;

  background-repeat: no-repeat;
  background-size: cover;

}

a {
  text-decoration: none !important;
}