body {
  background-color: #ffffff;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: "Raleway medium", sans-serif;
}
.jumbotron {
  background-color: #ffffff !important;
  font-size: 15px;
  font-weight: 100;
}
.homeimage {
  width: 100%;
  margin-bottom: 20px;
}
.jumbo {
  position: relative;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff !important;
  letter-spacing: 3px;
  font-size: 20px;
  text-align: center;
}
.btn-default {
  color: #ffffff;
  background-color: #cbe6f0;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #cbe6f0;
  letter-spacing: 2px;
}
.btn-default:hover {
  border: 2px solid #cbe6f0;
  background-color: #FFFFFF;
  color: #cbe6f0;
}
.btn-primary {
  color: #000000;
  background-color: #f9d5dd;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #f9d5dd;
  letter-spacing: 2px;
}
.btn-primary:hover {
  border: 2px solid #f9d5dd;
  background-color: #FFFFFF;
  color: #f9d5dd;
}
.knoppen {
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
}
.leftside {
  position: absolute;
  color: #000000 !important;
  letter-spacing: 3px;
  font-size: 20px;
  text-align: left;
  margin: 40px;
  text-transform: uppercase;
}

.manual li {
  font-size: 15px;
  font-family: "Raleway medium", sans-serif;
}