.navbar{
  background-color: #a0192b !important;
  border-color: #a0192b;
  max-height: 50px;
  z-index: 1;
}

.nav-link{
  background-color:#a0192b;
  border-color: #a0192b;
  position: relative;
  color: white !important;
}

.nav-link:hover{
  color: #5DD39E !important;
}