.navbar{
  background-color:#fff;
}


.navbar-nav > li > a{
  color:#1E88E5;
  font-size:16px;
  font-weight:bold;
  display: block;
  background-color:#fff;
}

.navbar-nav > li > a:hover{
  color:#673ab7;
  background-color:#f0f5f5;
}