.navbar{
   background-color:#fff;
   color: #42393d;
 }


.navbar-nav > li > a{
  color:#000000;
  font-size:16px;
  font-weight:bold;
  display: block;
  background-color:#f9d5dd;
}

.navbar-nav > li > a:hover{
  color:#000000;
  background-color:#f9d5dd;
  text-decoration: none;
}